
@{
    ViewBag.Title = "VistaUsuarios";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Vista de Usuarios</h2>

<ul>

    <li> Luis </li>
    <li> José </li>
    <li> María </li>
    <li> Juan </li>

</ul>

<b><p>Esto es una lista de usuarios.</p></b>
<img alt="imagen aleatoria" src="~/Content/imagenes/usuario.jpg">